<section class="content1">
  <div class="row">
    <div class="column small-12 large-6">
      <img src="../../images/content/Image870x808.png" alt="">
    </div>
    <div class="column small-12 small-6 large-6">
      <div class="content1__wrapperouter">
        <div class="content1__wrapperinner">

          <div class="content1__date align-center">
            <p>STORY 0.1</p>
          </div>

          <div class="h2  align-center">Long & Big Title</div>

          <div class="h3  align-center">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt </div>

          <div class="content1__bodytext">
            <p>Lorem ipsum dolor sit laboris nsi ut aliquip ex ea comepmodo consetquat. Duis aute irure dolor in reprehenderit in voluptate velit esse cfgillum dolore eutpe fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt inpeku culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Sed ut est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, seprid quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqueam quaerat voluptatem.</p>
          </div>

          <div class="content1__autor  align-left">
            written by anonymous
          </div>

          <div class="content1__cta  align-center">
            <a href="#" class="btn btn--green">label</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
