<section class="bike">
  <div class="row">

    <div class="column large-12">
      <div class="bike__intro">
        <div class="h2 bike__intro--text align-center">Bike Project. <br>Design and Photography</div>
      </div><!-- /bike__intro -->
    </div>

    <div class="column large-12">
      <div class="box spacing-huge">
        <div class="box__shadow"><img src="/images/people/gift-habeshaw-581947-unsplash.jpg" class="box__image" alt="Work image"> </div>
     </div>
    </div>

    <div class="column large-6 large-offset-2">
        <div class="bike__content spacing-huge">
          <h3>Maecenas scelerisque eros id et iaculis neque</h3>

          <p>Donec a tortor sit amet sapien posuere sodales. Maecenas scelerisque eros id ex malesuada, et iaculis neque varius. Ut ut tristique lacus, eget vestibulum sem. Suspendisse interdum libero eleifend ultricies fringilla. Duis suscipit vel dolor a bibendum. Donec lacinia lectus nec aliquam iaculis. Praesent a ligula diam.</p>

          <div class="bike__content--tags">
            <h4>Service: <span> Design &amp; Photography</span></h4>
          </div><!-- /bike__content tags -->

          <div class="bike__content--tags">
            <h4>Client: <span> ZYC Company</span></h4>
          </div><!-- /bike__content- tags -->

          <div class="bike__content--tags">
            <h4>Year: <span> 2018</span></h4>
          </div><!-- /bike__content- tags -->

        </div><!-- /bike__content -->
    </div>

    <div class="column large-8 large-offset-4">
      <div class="box spacing-huge">
        <div class="box__shadow"><img src="/images/bike/sw_5.jpg" class="box__image" alt="Work image"> </div>
     </div>

    </div>

    <div class="column large-6 large-offset-2">
      <div class="bike__content">
        <p>In fermentum ante non odio pellentesque rutrum. Sed facilisis elit nec rutrum dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer blandit finibus nulla, in suscipit velit auctor et. Maecenas sapien nulla, cursus nec quam eget, luctus ornare sem.</p>
        <p>Etiam condimentum lectus vestibulum ultrices tempus. Aliquam consequat ipsum ligula, eget auctor sem lacinia at. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div><!-- /bike__content -->
    </div>

    <div class="column large-6 large-offset-2">
      <div class="box spacing-huge">
        <div class="box__shadow"><img src="/images/bike/sw_7.jpg" class="box__image" alt="Work image"> </div>
      </div>
    </div>

    <div class="column large-6 large-offset-2">
      <div class="bike__content">
        <p>In fermentum ante non odio pellentesque rutrum. Sed facilisis elit nec rutrum dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer blandit finibus nulla, in suscipit velit auctor et. Maecenas sapien nulla, cursus nec quam eget, luctus ornare sem.</p>
        <p>Etiam condimentum lectus vestibulum ultrices tempus. Aliquam consequat ipsum ligula, eget auctor sem lacinia at. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div><!-- /bike__content -->
    </div>

    <div class="column large-10 ">
      <div class="bike__content">
        <p>Etiam condimentum lectus vestibulum ultrices tempus. Aliquam consequat ipsum ligula, eget auctor sem lacinia at. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div><!-- /bike__content -->
    </div>

    <div class="column large-12">
      <div class="box spacing-huge">
        <div class="box__shadow"><img src="/images/bike/sw_4_1.jpg" class="box__image" alt="Work image"> </div>
     </div>
    </div>

  </div>
</section>
