<section class="halfhour">
  <div class="row">
    <div class="column large-12">

      <div class="h1 halfhour__headline">Click a list item to replace this text</div>

      <div class="btn btn--black align-center halfhour__btn">add item</div>

      <div class="halfhour__unorderedList">
        <div class="halfhour__listItem">First item</div>
        <div class="halfhour__listItem">Second item</div>
        <div class="halfhour__listItem">Third item</div>
        <div class="halfhour__listItem">Fourth item</div>
        <div class="halfhour__listItem">Fifth item</div>
      </div>

    </div> <!-- column end-->
  </div> <!-- row end-->
</section>
